.text-label {
  margin-top: 40px;
  font-size: 1.8rem !important;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}
.input {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 60px !important;
  font-size: 20px !important;
}
.form-sub {
  text-align: center;
}
.btn-submit {
  display: flex;
  transition-duration: 0.4s;
  height: 60px !important;
  width: 20% !important;
  color: black !important;
  margin-bottom: 20px;
  background-color: #ffc341 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffae00 !important;
}

@media screen and (max-width: 600px) {
  .btn-submit {
    width: 100% !important;
  }
  .input {
    width: 100% !important;
  }
}
