body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.font-mont {
  font-family: "Montserrat", sans-serif;
}
.font-sans {
  font-family: "Work Sans", sans-serif;
}
.error {
  text-align: center;
}
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 15px;
  color: #333333;
}
.div-listado li {
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}
.alert-presupuest {
  margin-top: 5px;
  height: 60px;
}
